.cell {
  position: relative;
  text-align: center;

  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  color: #000;
  font-weight: 600;
  border: 4px solid #000;
  background: none;
}
.current {
  background-color: rgb(236, 61, 106);
}
.currentPointer {
  position: absolute;
  top: -100px;
}
.container {
  width: 100%;
  display: flex;
  margin-top: 100px;
}
.layout2cols {
  width: 100%;
  display: flex;
}
.text {
  text-align: center;
  font-size: 20px;
  color: #000;
  font-weight: 600;
}
